# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/
*.code-workspace
!.vscode/settings.json

# WPILib
.wpilibDirInfo
.wpilib/wpilib_preferences.json.bak

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build artifacts
*.jar
*.class
bin/

# Simulation
simgui.json
simgui-ds.json
simgui-window.json
networktables.json
networktables.json.bak
